.slidebar{
    flex: 2;
    border-right: 0.01px solid rgb(230, 227, 227);
    min-height: 100vh;
    background-color: white;


    .top{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo{
            font-size: 18px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            color: #eea378;
        }
    }
    hr{
        height: 0;
        border: 0.5px solid rgb(230, 227, 227);
    }

    .center{
        padding-left: 10px;

        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            .mn{
                margin-left: 2px;
            }

            .title{
                font-size: 10px;
                font-weight: bold;
                color: #999;
                margin-top: 15px;
                margin-bottom: 5px;
            }

            li{
                display: flex;
                align-items: center;
                margin-top: 10px;
                padding: 5px;
                cursor: pointer;

                &:hover{
                    background-color: #dec5b6;
                }

                .icon{
                    font-style: 18px;
                    color: #eea378;
                }

                span{
                    font-size: 13px;
                    font-weight: 600;
                    color: rgb(38, 36, 36);
                    margin-left: 10px;
                }
            }
        }
    }

    .bottom{
        display: flex;
        align-items:  center;
        margin: 10px;

        .colorOptions{
            width: 20px;
            height: 20px;
            border-radius: 5px;
            border: 1px solid #eea378;
            cursor: pointer;
            margin: 5px;


            &:nth-child(1){
                background-color: white;
            }
            &:nth-child(2){
                background-color: #333;
            }
        }
    }
}